table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    table-layout: auto; /* Ajusta el ancho de las columnas automáticamente */
    background-color: #272b2f;
    color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
    width: auto; /* Cambia el ancho de celdas a auto */
}

th, td {
    padding: 10px;
    text-align: left;
}

h2 {
    margin: 0;
    color: #fff;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #272b2f;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #b70000;; /* Cambia el color del fondo cuando el botón está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

input {
    padding: 5px;
    width: 100px;
    background-color: #272b2f;
    color: #fff;
    border: black;
}

.go-back-button{
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar {
    overflow: hidden;
    background-color: #494949ed;
    position: absolute;
    top: 20px;
    width: 95%;
    padding-left: 5%;
}

.active {
    background-color: #ddd; /* Cambia este color al pasar el cursor */
    color: black; /* Cambia el color del texto al pasar el cursor */
}

.no-active {
    color: white; /* Cambia el color del texto al pasar el cursor */
}

/* Estilo para los botones de la barra de navegación */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px; /* Espaciado alrededor del texto */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
}

/* Cambia el color de fondo de los botones al pasar el cursor sobre ellos */
.navbar a:hover {
    background-color: #ddd; /* Cambia este color al pasar el cursor */
    color: black; /* Cambia el color del texto al pasar el cursor */
}


#data-table {
    width: 100%;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

#data-table tr:hover {
    background-color: #494949;
}

.actions-left {
    display: none;
    float: left;
}
.actions-right {
    display: none;
    float: right;
}

.th-actions{
    width: 39px;
}

.coins-container {
    float: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #494949ed;
    width: auto; /* Cambia el ancho a auto */
    margin: 5%;
}

.vending-machine-container {
    float: right;
    padding: 20px;
    border-radius: 10px;
    background-color: #494949ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: auto;
    margin-left: 10%;
}

.coin-insertion {
    margin: 10px;
    display: initial;
}

.insert-coins {
    border: 2px solid #272b2f;
    padding: 10px;
    text-align: center;
    background-color: #272b2f;
    color: #fff;
    border-radius: 10px;
}

#insert-button{
    background-color: #494949ed;
    color: #fff;
}

.code-input{
    margin: 10px;
}