.table-container {
    float: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #494949ed;
    width: auto; /* Cambia el ancho a auto */
    margin: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    table-layout: auto; /* Ajusta el ancho de las columnas automáticamente */
    background-color: #272b2f;
    color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
    width: auto; /* Cambia el ancho de celdas a auto */
}

th, td {
    padding: 10px;
    text-align: left;
}

.vending-machine-container {
    float: right;
    padding: 20px;
    border-radius: 10px;
    background-color: #494949ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: auto;
    margin-left: 10%;
}

.coin-insertion, .code-input, .action-buttons {
    margin: 10px;
    display: initial;
}

.insert-coins {
    border: 2px solid #272b2f;
    padding: 10px;
    text-align: center;
    background-color: #272b2f;
    color: #fff;
    border-radius: 10px;
}

h2 {
    margin: 0;
    color: #fff;
    text-align: center;
}

#coin-select {
    padding: 5px;
    width: 150px;
    background-color: #272b2f;
    color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #272b2f;
    color: #fff;
}

button:hover {
    background-color: #ddd; /* Cambia este color al pasar el cursor */
    color: black; /* Cambia el color del texto al pasar el cursor */
}

button:disabled {
    background-color: #b70000;; /* Cambia el color del fondo cuando el botón está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}


#insert-button{
    background-color: #494949ed;
    color: #fff;
}

#insert-button:hover {
    background-color: #ddd; /* Cambia este color al pasar el cursor */
    color: black; /* Cambia el color del texto al pasar el cursor */
}

#insert-button:disabled {
    background-color: #b70000;; /* Cambia el color del fondo cuando el botón está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}

input {
    padding: 5px;
    width: 100px;
    background-color: #272b2f;
    color: #fff;
    border: black;
}

#purchase-summary{
    display: none;
    color: #fff;
}
#new-operation-button{
    display: none;
}

.go-back-button{
    position: absolute;
    bottom: 0;
    left: 0;
}

#selected-product-name, #coins-inserted-amount, #change-amount{
    color: #0bc902;
}